{% macro person(person_list) %}
{% for x in person_list %}
	{% if x.gender == 'F' %}
	    <li>{{x.name}} is Female.</li>
	{% else %}
	    <li>{{x.name}} is Male.</li>
	{% endif %}
{% endfor %}
{% endmacro %}