{% extends "base.html" %}

{% block content %}
	{% block inventory %}
		<h1>Inventory</h1>
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Quantity</td>
				<td>Price</td>
				<td>Total</td>
			</td>
			{% for itemsInInventory in inventoryList %}
			<tr>
				<td>
					{{itemsInInventory.name}}
					<input type="hidden" name="item_name" id="item_name" value="{{itemsInInventory.name}}">

				</td>
				<td>
					{{itemsInInventory.price}}
					<input type="hidden" name="item_name" id="item_name" value="{{itemsInInventory.price}}">
				</td>
				<td>
					<input type="number" name="item_quantity" id="item_quantity" value="1">
				</td>
				<td>
					<input type="number" name="total_price" id="total_price" value="{{total}}">
				</td>
			</tr>
			{% endfor %}
			<div>
			<form role="form" method = "POST" action="{{url_for('default.add_item_cart')}}">
			{% for itemsInTemp in tempList %}
			<tr>
				<td>
					<input type="hidden" name="item_name" id="item_name" value="{{itemsInTemp.name}}">

				</td>
				<td>
					<input type="hidden" name="item_price" id="item_price" value="{{itemsInTemp.price}}">
				</td>
				{g.}
			</tr>
			{% endfor %}
		</table>
			<button type="submit" class="btn btn-default">Add to Cart</button>
		</form>
		</div>
	{% endblock %}

	{% block cart %}
		<h1>Cart</h1>
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Price</td>
			</td>
			{% for itemsInCart in cartList %}
			<tr>
				<td>
					{{itemsInCart.name}}
				</td>
				<td>
					{{itemsInCart.price}}
				</td>
			</tr>
			{% endfor %}
		</table>
	{% endblock %}
	<br/><br/><br/>
	<div>
		<form role="form" method = "POST" action="{{url_for('default.add_item_inventory')}}">
			<div  class="form-group">
				<label>Name</label>
				<input type="text" name="item_name" id="item_name">
			</div>
			<div  class="form-group">
				<label>Price</label>
				<input type="text" name="item_price" id="item_price">
			</div>
			<button type="submit" class="btn btn-default">Add Item</button>
		</form>
	</div>
{% endblock %}
