{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<table class="table">
    <tr>
        <th>Post List for {{ date }}</th>
    </tr>
    {% with messages = get_flashed_messages(category_filter=["edit_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}
    {% endwith%}
    <form method='POST' action="{{url_for('.edit_post')}}">
        {% for post in posts %}
        <tr>
            <td>
                <input type='text' value={{post['post']}} name='edit_post'>
            </td>
            <td>
                feeling
            </td>
            <td>
                <input type='text' value={{post['feeling']}} name='edit_feeling'>
                <button class='btn btn-primary' type='submit'>Edit</button>
            </td>
        </tr>
        {% endfor %}
    </form>
</table>

<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <select name='emoticon'>
        <option value='Happy'>Happy</option>
        <option value='Sad'>Sad</option>
        <option value='Meh'>Meh</option>
    </select>
    <input class='btn btn-primary' type='submit' />
</form>

{% endblock %}